header{
    display: flex;
    height: 7vh;
    background-color: rgba(203, 193, 177, 1);
    justify-content: center;
    justify-items: stretch;
    position: absolute;
    width: 100%;
    z-index: 69;
    
}
.home_header{
    top: 0px;
    display: flex ;


}
.img_link{
    height: 7vh;
}
.home_feet{

bottom: -110vh;
height: 10vh;
}
body{
    margin: 0px;
}
.text_box_header{
    justify-items: center;
    justify-content: center;
    height: 5vh;
    margin: auto;

    background-color: rgba(124, 116, 116, 1);
}
.text_header{
    justify-items: center;
    justify-content: center;
    height: 5vh;
    margin: auto; 
}
.logo{
    margin-left: 5%;
    margin-right: 35%;
    height: 100%;
}
.backruond_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    position: relative;
}
.backround_img_box{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;

}
.text_box{
    background-color:rgba(124, 116, 116, 0.57);
    z-index: 20;
    position: absolute;
    width: 60vh;
    height: 40vh;
    bottom: 2vh;
    right: 2vh;
    padding: 2vh;
    justify-items: center;
    justify-content: center;
    
}
.text_exe{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 2px;
    width: 50%;
}
.imgimgbox{
    position: relative;
    height: 80vh;
    width: 90%;
    z-index: 9799;
    top: 110vh;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    justify-items: center;
}
.text_text_box{
    width: 27vh;
    margin-left: 0px;
}
.img_img_img_box{
    display: grid;
    grid-template-columns: 31% 31%31% ;
}
a{  
text-decoration: none;
color: black;
}
.home_footer{
    height: 10vh;
    bottom: 0px;
}
.img_text_box{
width: 40vh;
display: grid;
grid-template-columns: 30% 70%;
column-gap: 3vh;
}
.img_text_box h3{
    font-size: smaller;

}
.s_box{
    width: 90%;
    display: grid;
    
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    row-gap: 20vh;
    column-gap: 3vh;
}
h3{
    text-transform: uppercase;
}

.formas {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 0.5fr 2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "q w"
      "e r"
      "t t"
      "z z"; 

      width: 60%;
      margin-left: 20%;
      height: 30vh;
      row-gap: 2vh;
      column-gap: 1vh;
  }

  .form-item{
    background-color: rgba(124, 116, 116, 0.7);
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.5);
  }
  .xs-box{
    display: flex;
    position: relative;
    width: 100%;
    top: 30vh;
    justify-content: center;
    justify-items: center;
  }