header{
    display: flex;
    height: 7vh;
    background-color: rgba(203, 193, 177, 1);
    justify-content: center;
    justify-items: stretch;
    position: absolute;
    width: 100%;
    z-index: 69;
    
}
.home_header{
    top: 0px;
    display: flex ;


}
.home_feet{

bottom: -110vh;
height: 10vh;
}
body{
    margin: 0px;
    height: 200vh;
}
.text_box_header{
    justify-items: center;
    justify-content: center;
    height: 5vh;
    margin: auto;

    background-color: rgba(124, 116, 116, 1);
}
.text_header{
    justify-items: center;
    justify-content: center;
    height: 5vh;
    margin: auto; 
}
.logo{
    margin-left: 5%;
    margin-right: 35%;
}
.backruond_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    position: relative;
}
.backround_img_box{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;

}
.text_box{
    background-color:rgba(124, 116, 116, 0.57);
    z-index: 20;
    position: absolute;
    width: 50vh;
    height: 22vh;
    bottom: 2vh;
    right: 2vh;
    padding: 2vh;
    justify-items: center;
    justify-content: center;
    
}
.text_exe{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 2px;
    width: 50%;
}
.imgimgbox{
    position: relative;
    height: 80vh;
    width: 90%;
    z-index: 9799;
    top: 110vh;
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
    justify-items: center;
}
.text_text_box{
    width: 27vh;
    margin-left: 0px;
}
.img_img_img_box{
    display: grid;
    grid-template-columns: 31% 31%31% ;
}
a{  
text-decoration: none;
color: black;
}